# Terraform working directory
.terraform/

# Terraform state files (VERY IMPORTANT)
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*

# Terraform variable files (may contain secrets)
terraform.tfvars
*.tfvars

# Terraform lock file (optional - ignore for beginner)
.terraform.lock.hcl

# Crash logs
crash.log

# Terraform CLI config
.terraformrc
terraform.rc

# Ignore provider binaries (you have .exe file)
*.exe

# OS files
.DS_Store
Thumbs.db

# VS Code (optional)
.vscode/

